<html>
    <body>
        <form id="resetFrom">
            <input type=" password "  id=" password"  placeholder="new password" required/>
            <input type="password" id = "confirm" placeholder="confirm password" required/>
            <button type ="submit">Reset Password</button>
        </form>
        <p id=" message"></p>
        <script>
            const token =window.locaton.pathname.split('/').pop();
            document.getElementById('resetForm').onsubmit=async(e)=>{
                e.preventDefault();
                const newPassword = document.getElementById('password').value;
                const confirm  = document.getElementById('confirm').value;
                if (password!==confirm) return alert("PAsswords don't match");
                const res = await fetch(`api/reset-password/${token}`,{
                    method:'POST',
                    headers:{'Content-type': 'application/json'},
                    body:JSON.stringify({password})
                });
                const data =await res.json();
                document.getElementById('resetForm').style.display ='none';
                document.getElementById('message').innerText =data.message;

            };
        </script>
    </body>
</html>